/*
 * Red Hat Overpass font CDN
 https://overpass-30e2.kxcdn.com/overpass.css
 */
@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-thin.eot");
  /* IE9 Compat Modes */
  src: url("https://overpass-30e2.kxcdn.com/overpass-thin.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-thin.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-thin.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-thin.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-thin-italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-extralight.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-extralight.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-extralight.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-extralight.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-extralight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-extralight-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-light.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-light.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-light.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-light.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-light-italic.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-light-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-light-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-light-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-light-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-regular.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-regular.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-regular.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-regular.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-italic.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-semibold.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-semibold.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-semibold.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-semibold.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-semibold-italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-bold.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-bold.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-bold.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-bold.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-extrabold.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-extrabold.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-extrabold-italic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-heavy.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-heavy.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-heavy.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-heavy.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.eot");
  src: url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.eot?#iefix") format("embedded-opentype"), url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.woff2") format("woff2"), url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/overpass-heavy-italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

/*
  Color Range
*/
/*
- Grey Range
*/
/* JBOSS Colours */
/*
  Grey Range
*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 961px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1202px; } }

button, .button {
  text-transform: uppercase;
  background: #cc0000;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 40px;
  -webkit-transition: background .2s ease-in 0s;
  transition: background .2s ease-in 0s;
  line-height: 1.44;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center; }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #8f0000; }
  button.heavy-cta, .button.heavy-cta {
    font-weight: bold; }
    button.heavy-cta:visited, .button.heavy-cta:visited {
      color: #FFFFFF; }
    button.heavy-cta.white, .button.heavy-cta.white {
      background: #FFFFFF;
      color: #cc0000; }
      button.heavy-cta.white:visited, .button.heavy-cta.white:visited {
        color: #cc0000; }
      button.heavy-cta.white:hover, button.heavy-cta.white:focus, .button.heavy-cta.white:hover, .button.heavy-cta.white:focus {
        background-color: #f0f0f0; }
    button.heavy-cta.black, .button.heavy-cta.black {
      background: #000000;
      color: #FFFFFF; }
    button.heavy-cta.blue, .button.heavy-cta.blue {
      background: #0066cc;
      color: #FFFFFF; }
      button.heavy-cta.blue:hover, button.heavy-cta.blue:focus, .button.heavy-cta.blue:hover, .button.heavy-cta.blue:focus {
        background-color: #0057ad; }
  button.medium-cta, .button.medium-cta {
    border: 1px solid #cc0000;
    line-height: 1.44;
    color: #cc0000;
    background-color: transparent;
    padding: 8px 40px; }
    button.medium-cta:visited, .button.medium-cta:visited {
      color: #cc0000; }
    button.medium-cta:hover, button.medium-cta:focus, .button.medium-cta:hover, .button.medium-cta:focus {
      background-color: #cc0000;
      color: #FFFFFF; }
    button.medium-cta.white, .button.medium-cta.white {
      border-color: #FFFFFF;
      color: #FFFFFF; }
      button.medium-cta.white:hover, button.medium-cta.white:focus, .button.medium-cta.white:hover, .button.medium-cta.white:focus {
        background-color: #FFFFFF;
        color: #cc0000; }
    button.medium-cta.black, .button.medium-cta.black {
      border-color: #000000;
      color: #000000; }
      button.medium-cta.black:hover, button.medium-cta.black:focus, .button.medium-cta.black:hover, .button.medium-cta.black:focus {
        background-color: #000000;
        color: #FFFFFF; }
    button.medium-cta.blue, .button.medium-cta.blue {
      border-color: #0066cc;
      color: #0066cc; }
      button.medium-cta.blue:hover, button.medium-cta.blue:focus, .button.medium-cta.blue:hover, .button.medium-cta.blue:focus {
        background-color: #0066cc;
        color: #FFFFFF; }
  button.large, .button.large {
    padding: 0.6em 0.9em; }
  button.long, .button.long {
    padding: .6em 5em; }
  button + button, button + .button, .button + button, .button + .button {
    margin-left: 20px; }
  button.inverse, .button.inverse {
    background: white;
    color: #cc0000; }
  button.clear, .button.clear {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    border: 0; }
    button.clear i, .button.clear i {
      margin-right: 2px;
      margin-left: 2px; }
  button.external-link:after, .button.external-link:after {
    display: none; }

a.button[href$=".pdf"]:after,
a.heavy-cta[href$=".pdf"]:after,
a.medium-cta[href$=".pdf"]:after,
.heavy-cta a[href$=".pdf"]:after,
.madium-cta a[href$=".pdf"]:after {
  display: none; }

a.light-cta {
  color: #0066CC;
  font-weight: 800; }
  a.light-cta:after {
    padding-left: 2px;
    content: "\25B8"; }
  a.light-cta:hover, a.light-cta:focus {
    color: #004080; }
  a.light-cta.black {
    color: #000000; }
    a.light-cta.black:hover, a.light-cta.black:focus {
      color: #0066CC; }
  a.light-cta.white {
    color: #FFFFFF; }
    a.light-cta.white:hover, a.light-cta.white:focus {
      color: #2B9AF3; }
  a.light-cta.external-link:after {
    vertical-align: baseline; }

.button-group button, .button-group .button {
  border-radius: 0;
  border-left: 1px solid #FFFFFF;
  margin-left: 0px; }

.button-group a {
  color: #FFFFFF; }

.node--view-mode-tile,
.wordpress-blog-post-tile {
  width: 100%; }
  .node--view-mode-tile > a,
  .wordpress-blog-post-tile > a {
    display: block;
    color: #000;
    text-decoration: none; }

.tile-title {
  margin-top: 0rem; }

.tile-image {
  width: 100%;
  height: 0;
  padding-top: 58%;
  position: relative;
  overflow: hidden;
  background: #FFF;
  margin-bottom: 1rem; }
  .tile-image .image-table {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table; }
    .tile-image .image-table .image-cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      width: 100%;
      text-align: center;
      overflow: hidden; }
      .tile-image .image-table .image-cell img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%; }
  .tile-image.vertical .image-table {
    display: block; }
    .tile-image.vertical .image-table .image-cell {
      display: block; }

.node--type-video-resource.node--view-mode-tile .image-table,
.node--type-video-resource.node--view-mode-tile .image-cell {
  display: block; }

.node--type-video-resource.node--view-mode-tile .tile-image img {
  position: absolute;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  top: -9999px;
  margin: auto;
  width: auto;
  max-width: none;
  height: 100%; }

.node--type-video-resource.node--view-mode-tile .play-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.65);
  color: #FFF;
  line-height: 1;
  padding: 6px 3px 4px 7px;
  font-size: 20px; }
  @media (min-width: 768px) {
    .node--type-video-resource.node--view-mode-tile .play-button {
      padding: 11px 8px 9px 12px;
      font-size: 28px; } }

.node--view-mode-card {
  background: #FFF;
  width: 100%; }
  .node--view-mode-card > a {
    display: block;
    color: #000;
    text-decoration: none; }
  .node--view-mode-card .card-title {
    margin: 0; }
  .node--view-mode-card .header-block,
  .node--view-mode-card .content-block {
    padding: 1rem; }
  .node--view-mode-card .header-block {
    background: #0066cc; }
    .node--view-mode-card .header-block .card-title,
    .node--view-mode-card .header-block .asset-type {
      color: #FFF; }
  .node--view-mode-card .asset-type {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5rem;
    color: #0066cc; }
  .node--view-mode-card .login-required {
    display: inline-block;
    margin-right: .5rem; }
  .node--view-mode-card .more {
    color: #0066cc;
    margin-top: 1rem; }
    .node--view-mode-card .more .svg-inline--fa {
      display: inline-block;
      margin-left: .5rem;
      font-size: 1.2rem;
      vertical-align: bottom; }
  .node--view-mode-card .card-image + .content-block {
    padding-top: 0; }

.card-image {
  padding: 2rem; }
  .card-image img {
    max-width: 100%;
    height: auto;
    box-shadow: -2px 2px 11px 0 rgba(0, 0, 0, 0.5); }

.node--type-video-resource.node--view-mode-teaser,
.wordpress-blog-post-teaser {
  width: 100%; }
  .node--type-video-resource.node--view-mode-teaser .teaser-content,
  .wordpress-blog-post-teaser .teaser-content {
    display: none; }
    @media (min-width: 576px) {
      .node--type-video-resource.node--view-mode-teaser .teaser-content,
      .wordpress-blog-post-teaser .teaser-content {
        display: none; } }
  .node--type-video-resource.node--view-mode-teaser .teaser-image .tile-image,
  .wordpress-blog-post-teaser .teaser-image .tile-image {
    border: none; }
  @media (min-width: 992px) {
    .node--type-video-resource.node--view-mode-teaser .teaser-image,
    .wordpress-blog-post-teaser .teaser-image {
      float: right;
      width: 40%;
      margin-left: 30px; }
      .node--type-video-resource.node--view-mode-teaser .teaser-image .image-cell,
      .wordpress-blog-post-teaser .teaser-image .image-cell {
        vertical-align: top; } }
  .node--type-video-resource.node--view-mode-teaser .title a,
  .wordpress-blog-post-teaser .title a {
    color: #000;
    text-decoration: none; }
  .node--type-video-resource.node--view-mode-teaser .summary,
  .wordpress-blog-post-teaser .summary {
    display: none; }
    @media (min-width: 576px) {
      .node--type-video-resource.node--view-mode-teaser .summary,
      .wordpress-blog-post-teaser .summary {
        display: block; } }
    .node--type-video-resource.node--view-mode-teaser .summary p,
    .wordpress-blog-post-teaser .summary p {
      margin-top: 0rem; }

.node--type-author.node--view-mode-teaser .grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 160px 1fr; }

.node--type-author.node--view-mode-teaser .name {
  margin-top: 0;
  margin-bottom: .5rem; }

.node--type-author.node--view-mode-teaser .bio p {
  margin-top: 0; }

.node--type-author .headshot img {
  max-width: 100%;
  height: auto;
  display: block; }

.node--type-author .social-icons {
  padding: 0;
  list-style-type: none; }

.author-social-icon-facebook, .author-social-icon-twitter, .author-social-icon-youtube, .author-social-icon-linkedin, .author-social-icon-github {
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  margin-right: 12px; }

.author-social-icon-facebook svg {
  color: #3b5998; }

.author-social-icon-twitter svg {
  color: #00aced; }

.author-social-icon-youtube svg {
  color: #ff0000; }

.author-social-icon-linkedin svg {
  color: #0077B5; }

.author-social-icon-github svg {
  color: #000000; }

.assembly.has-background {
  position: relative; }
  .assembly.has-background .container {
    position: relative;
    z-index: 1; }

.assembly .field__item, .assembly .field {
  display: block; }

.assembly.assembly-dark {
  background: #252525; }
  .assembly.assembly-dark, .assembly.assembly-dark h1, .assembly.assembly-dark h2, .assembly.assembly-dark h3, .assembly.assembly-dark h4, .assembly.assembly-dark h5, .assembly.assembly-dark h6 {
    color: white; }

.assembly.assembly-space {
  padding-top: 80px;
  padding-bottom: 80px; }

.assembly.assembly-center * {
  text-align: center; }

.assembly .background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .assembly .background:after {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' '; }

.assembly.assembly-type-hero {
  padding: 80px 0;
  margin-bottom: 80px; }
  .assembly.assembly-type-hero .content {
    max-width: 60rem; }
  .assembly.assembly-type-hero h2 {
    font-size: 4rem;
    line-height: 1.1; }
  .assembly.assembly-type-hero .field--name-field-content p {
    font-size: 1.5rem; }

.assembly-type-on_page_navigation {
  background-color: #0066CC;
  color: #FFF;
  padding: 22px 0;
  text-align: center;
  padding-bottom: 31px; }
  @media (min-width: 992px) {
    .assembly-type-on_page_navigation {
      text-align: left;
      padding: 19px 0; } }
  .assembly-type-on_page_navigation a {
    color: inherit;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: ease-in-out 150ms; }
  .assembly-type-on_page_navigation * {
    box-sizing: border-box; }
  .assembly-type-on_page_navigation .page-nav-wrapper {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .assembly-type-on_page_navigation .page-nav-wrapper {
        max-width: 690px; } }
    @media (min-width: 992px) {
      .assembly-type-on_page_navigation .page-nav-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-auto-rows: 1fr;
        max-width: 931px; } }
    @media (min-width: 1200px) {
      .assembly-type-on_page_navigation .page-nav-wrapper {
        max-width: 1172px; } }
  @media (min-width: 992px) {
    .assembly-type-on_page_navigation .item-list {
      grid-column: 2/right;
      align-self: center; } }
  .assembly-type-on_page_navigation .item-list > ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    grid-auto-rows: 1fr; }
    @media (min-width: 768px) {
      .assembly-type-on_page_navigation .item-list > ul {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media (min-width: 992px) {
      .assembly-type-on_page_navigation .item-list > ul {
        display: block;
        margin-left: -15px;
        margin-right: -15px; } }
    @media (min-width: 1200px) {
      .assembly-type-on_page_navigation .item-list > ul {
        margin-left: -25px;
        margin-right: -25px; } }
    .assembly-type-on_page_navigation .item-list > ul > li {
      display: grid;
      grid-template: subgrid;
      margin: 0;
      grid-auto-rows: 1fr; }
      @media (min-width: 992px) {
        .assembly-type-on_page_navigation .item-list > ul > li {
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px; } }
      @media (min-width: 1200px) {
        .assembly-type-on_page_navigation .item-list > ul > li {
          padding-left: 27.5px;
          padding-right: 27.5px; } }
      .assembly-type-on_page_navigation .item-list > ul > li > a {
        display: grid;
        grid-template: subgrid;
        grid-auto-rows: 1fr;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #73BCF7;
        padding: .7em 1em;
        font-weight: bold; }
        .assembly-type-on_page_navigation .item-list > ul > li > a:hover, .assembly-type-on_page_navigation .item-list > ul > li > a:active, .assembly-type-on_page_navigation .item-list > ul > li > a:focus {
          background-color: #73BCF7; }
          @media (min-width: 992px) {
            .assembly-type-on_page_navigation .item-list > ul > li > a:hover, .assembly-type-on_page_navigation .item-list > ul > li > a:active, .assembly-type-on_page_navigation .item-list > ul > li > a:focus {
              background-color: transparent;
              color: #73BCF7; } }
        @media (min-width: 768px) {
          .assembly-type-on_page_navigation .item-list > ul > li > a {
            font-size: 16px;
            padding: .35em 0.7em; } }
        @media (min-width: 992px) {
          .assembly-type-on_page_navigation .item-list > ul > li > a {
            padding: 0;
            border: none;
            display: inline-block;
            font-size: 18px; } }
        @media (min-width: 1200px) {
          .assembly-type-on_page_navigation .item-list > ul > li > a {
            font-size: 21px; } }
        .assembly-type-on_page_navigation .item-list > ul > li > a > span {
          justify-self: center;
          align-self: center; }
  .assembly-type-on_page_navigation .section-title {
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 25px; }
    @media (min-width: 992px) {
      .assembly-type-on_page_navigation .section-title {
        margin-bottom: 0;
        align-self: start; } }
    @media (min-width: 1200px) {
      .assembly-type-on_page_navigation .section-title {
        padding-top: 0.25em; } }

.assembly-type-dynamic_content_feed {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9f9f9; }
  .assembly-type-dynamic_content_feed .header {
    text-align: center;
    margin-top: 0; }
  .assembly-type-dynamic_content_feed .item-list ul.content-tile-list,
  .assembly-type-dynamic_content_feed .item-list ul.content-tile-list > li {
    list-style-type: none;
    list-style-image: none;
    margin: 0; }
  .assembly-type-dynamic_content_feed .content-tile-list {
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: 1fr 1fr; }
    .assembly-type-dynamic_content_feed .content-tile-list > li {
      margin: 0;
      padding: 0; }
    @media (min-width: 768px) {
      .assembly-type-dynamic_content_feed .content-tile-list.count-3 {
        grid-template-columns: 1fr 1fr 1fr; }
      .assembly-type-dynamic_content_feed .content-tile-list.count-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
  .assembly-type-dynamic_content_feed .cta-link {
    margin-top: 1rem;
    text-align: center; }
    .assembly-type-dynamic_content_feed .cta-link a {
      display: inline-block; }

.assembly-type-dynamic_content_list {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background: #F9F9F9; }
  .assembly-type-dynamic_content_list .header {
    text-align: center;
    margin-top: 0; }
  .assembly-type-dynamic_content_list .grid {
    display: grid;
    grid-gap: 30px 30px; }
    @media (min-width: 576px) {
      .assembly-type-dynamic_content_list .grid {
        grid-template-columns: 2fr 1fr; } }
  .assembly-type-dynamic_content_list .content-teaser-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: 1fr 1fr; }
    .assembly-type-dynamic_content_list .content-teaser-list > li {
      margin: 0; }
      @media (min-width: 576px) {
        .assembly-type-dynamic_content_list .content-teaser-list > li {
          border-bottom: 1px dashed #242424; } }
    @media (min-width: 576px) {
      .assembly-type-dynamic_content_list .content-teaser-list {
        grid-template-columns: 1fr; } }
  .assembly-type-dynamic_content_list .disqus {
    background: #FFF;
    padding: 2rem 1rem 1rem; }
  .assembly-type-dynamic_content_list .cta-link {
    margin-top: 2rem; }
    .assembly-type-dynamic_content_list .cta-link .button {
      display: inline-block; }

.assembly-type-featured_evangelists {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url(../docs/img/vertical_paths_background.png);
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat; }
  .assembly-type-featured_evangelists .header {
    text-align: center;
    margin-top: 0rem; }
  .assembly-type-featured_evangelists .grid {
    display: grid;
    grid-gap: 30px 30px; }
    @media (min-width: 576px) {
      .assembly-type-featured_evangelists .grid {
        grid-template-columns: 2fr 1fr; } }
  .assembly-type-featured_evangelists .content-teaser-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 30px 30px; }
    @media (min-width: 992px) {
      .assembly-type-featured_evangelists .content-teaser-list {
        grid-template-columns: 1fr 1fr; } }
  .assembly-type-featured_evangelists .content-link-list {
    margin: 0;
    padding: 0;
    margin-bottom: -1rem; }
    .assembly-type-featured_evangelists .content-link-list a {
      display: block;
      text-decoration: none;
      margin-bottom: 1rem; }

.assembly-type-featured_resources {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #E5E5E5;
  background-image: url(../docs/img/gray_diamond_background.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; }
  .assembly-type-featured_resources .header {
    text-align: center;
    margin-top: 0; }
  .assembly-type-featured_resources .grid {
    display: grid;
    grid-gap: 30px 30px; }
    @media (min-width: 576px) {
      .assembly-type-featured_resources .grid {
        grid-template-columns: 2fr 1fr; } }
    @media (min-width: 768px) {
      .assembly-type-featured_resources .grid {
        grid-template-columns: 3fr 1fr; } }
    @media (min-width: 992px) {
      .assembly-type-featured_resources .grid {
        grid-template-columns: 4fr 1fr; } }
  .assembly-type-featured_resources .content-card-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: 1fr 1fr; }
    @media (min-width: 768px) {
      .assembly-type-featured_resources .content-card-list {
        grid-template-columns: 1fr 1fr 1fr; } }
  .assembly-type-featured_resources .content-link-list {
    margin: 0;
    padding: 0;
    margin-bottom: -1rem; }
    .assembly-type-featured_resources .content-link-list a {
      display: block;
      margin-bottom: 1rem; }

.assembly-type-static_content_band {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #f9f9f9; }
  .assembly-type-static_content_band .header {
    text-align: center;
    margin-top: 0rem; }
  .assembly-type-static_content_band .field--name-field-content-list {
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: 1fr 1fr; }
    @media (min-width: 768px) {
      .assembly-type-static_content_band .field--name-field-content-list {
        grid-template-columns: 1fr 1fr 1fr; } }

.assembly-type-call_to_action {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #444;
  color: #FFF;
  font-weight: bold;
  font-size: 24px; }
  .assembly-type-call_to_action.centered {
    text-align: center; }

.assembly-type-rich_text {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url(../docs/img/white_diamond_background.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; }
  .assembly-type-rich_text .header {
    margin-top: 0; }

* {
  box-sizing: border-box;
  font-family: "overpass"; }

body {
  margin: 0;
  padding: 0; }

[data-rhd-grid="normal"] {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto; }

body > header,
body > main,
body > footer {
  flex: 0 0 auto;
  grid-column: span 12;
  grid-row: span 1;
  display: flex;
  flex-direction: column; }

.rh-universal-header, .rh-universal-footer {
  background-color: #1a1a1a;
  flex: 0 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #5e6a71; }
  .rh-universal-header .rh-header-logo, .rh-universal-header .rh-footer-logo, .rh-universal-header .rh-summit-footer-logo, .rh-universal-footer .rh-header-logo, .rh-universal-footer .rh-footer-logo, .rh-universal-footer .rh-summit-footer-logo {
    flex: 0 0 300px; }
  .rh-universal-header .contentinfo, .rh-universal-footer .contentinfo {
    flex: 1 1 auto; }
  .rh-universal-header .rh-nav-universal, .rh-universal-footer .rh-nav-universal {
    flex: 1 1 auto; }
  .rh-universal-header ul, .rh-universal-footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .rh-universal-header ul li, .rh-universal-footer ul li {
      display: inline-block;
      flex: 0 0 auto;
      margin-right: 3em; }
      .rh-universal-header ul li.rh-universal-login, .rh-universal-footer ul li.rh-universal-login {
        color: #FFFFFF;
        align-self: flex-end;
        flex: 1 1 auto;
        margin-right: 0;
        text-align: right; }

.rhd-header {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr; }

.rhd-header-logo {
  grid-row: 1;
  grid-column: 1;
  height: 75px;
  width: 300px; }

.rhd-nav-fixed {
  grid-row: 1;
  grid-column: 2;
  align-items: right; }
  .rhd-nav-fixed ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%; }
    .rhd-nav-fixed ul li {
      display: inline-block;
      flex: 0 0 auto;
      margin-right: 3em; }
      .rhd-nav-fixed ul li.rhd-nav-search {
        margin-right: 0; }

.rhd-nav-dynamic {
  grid-row: 2;
  grid-column: span 2; }
  .rhd-nav-dynamic ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .rhd-nav-dynamic ul li {
      display: inline-block;
      flex: 0 0 auto; }

.rhd-footer {
  background-color: #242424;
  color: #FFFFFF;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 500px; }

.rhd-footer :first-child {
  flex: 1 1 auto;
  grid-column: span 8; }

.rhd-footer-sidebar {
  background-color: #cc0000;
  flex: 0 0 33%;
  grid-column: span 4; }
